body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00b7ff;
}

p {
  margin: 0;
}

.text-box {
  margin: 1em 0;
}

form {
  margin-bottom: 2em;
}
